<div class="container" style="padding:10pt">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">User Tweets</h1>
		</div>
		<div class="panel-body" id="react-mount">
		{{{markup}}}
		</div>
		<div class="panel-footer">
			User tweets
		</div>
	</div>
</div>
<script id="initial-state" type="application/json">{{{state}}}</script>